$primary-color: #0a5da6;
$secondary-color: #146ea6;
$third-color: #419bbf;
$fourth-color: #d94d1a;
$main-white: #f3e1dd;
$black: #000000;
$white: #ffffff;
$hover: #344055;
$favcon: url(../dist/img/favcon_big.png);

@mixin easeOut {
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

@mixin selectTransition {
    transition: all .2s;
    -webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
}

@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return $white;
    } @else {
        @return $primary-color;
    }
}

@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
        .wrapper .form .inputfield {
            flex-direction: column;
            align-items: flex-start;
        }
    
        .wrapper .form .inputfield label {
            margin-bottom: 5px;
        }
    
        .wrapper .form .inputfield.terms {
            flex-direction: row;
        }
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}