@import "_config.scss";
@import "_menu.scss";
@import "_mobile.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

// General
* {
    font-family: "Poppins", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

// SIGNUP
.signup-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: $main-white;

    .wrapper {
        margin-top: 70px;
        position: absolute;
        max-width: 500px;
        width: 100%;
        background: $white;
        padding: 30px 30px 50px 30px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
        left: 50%;
        transform: translateX(-50%);


        .signup-form-title {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 25px;
            color: $primary-color;
            text-transform: uppercase;
            text-align: center;
        }

        .signup-form {
            width: 100%;


            .wrap-input {
                margin-bottom: 15px;
                display: flex;
                align-items: center;

                label {
                    width: 200px;
                    color: $primary-color;
                    margin: 0 10px 0 5px;
                    font-size: 14px;
                }

                input {
                    width: 100%;
                    outline: none;
                    border: 1px solid $primary-color;
                    font-size: 15px;
                    padding: 8px 10px;
                    border-radius: 3px;
                    transition: all 0.3s ease;

                    &:focus {
                        background: #eee;
                    }
                }

                .signup-form-btn {
                    width: 40%;
                    padding: 8px 10px;
                    font-size: 15px;
                    border: 0px;
                    background: $primary-color;
                    color: $white;
                    cursor: pointer;
                    border-radius: 3px;
                    outline: none;
                    position: absolute;
                    top: 92%;
                    left: 31%;
                }

                .signup-form-btn:hover {
                    background: $secondary-color;
                }

                :last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

//END SIGNUP

// ADMIN PAGE
.admin-body {
    margin: 0;

    .admin-head {
        color: $secondary-color;
        margin-top: 70px;
        margin-left: 20px;
    }

    .adds {
        margin-left: 20px;
        margin-top: 10px;

        fieldset {
            width: 22%;
            border-radius: 8px;
            border: solid $secondary-color 2px;

            legend {
                color: $secondary-color;
            }
        }
    }
}

// END ADMIN PAGE

// STORE
.store-body {
    box-sizing: border-box;
    color: set-text-color($white);
    height: 100%;
    margin: 0;
    line-height: 1.5;
    background: $white;

    a {
        color: $primary-color;
        text-decoration: none;
    }

    .space {
        height: 50px;
    }

    .item {
        display: grid;
        grid-gap: 0.7rem;
        grid-template-columns: repeat(4, 1fr);
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin: 70px 0;

        .listing {
            background: $white;

            h3 {
                font-size: 30px;
            }

            img {
                width: auto;
                height: 250px;
                border: none;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;

                &:hover {
                    opacity: 0.5;
                    border-color: $secondary-color;
                    @include easeOut;
                }
            }

            p {
                margin-left: 5px;
            }

            &:nth-child(1n) {
                margin-left: 20px;
            }
        }
    }
}

// END STORE

// LISTING
.listing-body {
    background: $white;

    .listing-container {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
        background: $main-white;
        padding: 0 3%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 70px 0;

        h1,
        h2,
        h3,
        h4 {
            color: $primary-color;
        }

        h1 {
            font-size: 40px;
        }

        h2 {
            margin: 10px 0;
        }

        p {
            color: $black;
            overflow-wrap: break-word;
        }

        img {
            max-height: 600px;
            max-width: 1000px;
            width: auto;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .deler {
            padding: 0 0 20px 0;
        }
    }
}

// END LISTING

// NEWITEM
.newitem-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: $main-white;
    width: 100%;
    height: 100%;

    .wrapper {
        width: 100%;
        height: 100%;

        #listing {
            position: absolute;
            margin-top: 70px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            background: $white;
            border-radius: 2%;
            -webkit-border-radius: 2%;
            -moz-border-radius: 2%;
            -ms-border-radius: 2%;
            -o-border-radius: 2%;
            max-width: 500px;
            width: 100%;
            text-align: center;

            & * {
                margin-bottom: 15px;
            }

            .form-title {
                font-size: 40px;
                color: $primary-color;
                text-align: center;
            }

            .box {
                width: 100%;
                margin-bottom: 10px;

                label {
                    margin-right: 10px;
                    color: $primary-color;
                    font-size: 20px;
                }

                input {
                    height: 30px;
                    width: 40%;
                    box-shadow: none;
                    border: none;

                    &.add-btn {
                        width: 180px;
                        height: 50px;
                        color: $white;
                        font-size: 16px;
                        background: $primary-color;
                        border-radius: 5px;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -ms-border-radius: 5px;
                        -o-border-radius: 5px;
                        text-align: center;

                        &:hover {
                            background: rgba(darken($primary-color, 5), 1);
                        }
                    }

                    &#inputPrice,
                    &#inputTitle {
                        border: 2px solid $primary-color;
                        border-radius: 5px;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -ms-border-radius: 5px;
                        -o-border-radius: 5px;
                        padding-left: 5px;

                        &::placeholder {
                            color: rgba(lighten($primary-color, 1), 0.8);
                        }
                    }

                    &#inputPrice {
                        margin-bottom: 10px;
                    }
                }


                textarea {
                    border: 2px solid $primary-color;
                    outline: none;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    padding-left: 5px;
                    height: 150px;
                    overflow: auto;
                    resize: none;

                    &::-webkit-scrollbar {
                        visibility: hidden;
                    }

                    &::placeholder {
                        color: rgba(lighten($primary-color, 1), 0.8);
                    }
                }
            }

            .sumbit_section {
                text-align: center;

                .submit-btn {
                    width: 180px;
                    height: 50px;
                    cursor: pointer;
                    background: $primary-color;
                    color: $white;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    font-size: 16px;
                    text-align: center;
                }
            }

            .image {


                input[type="file"] {
                    display: none;
                }

                .img-label {
                    color: $white;
                    height: 50px;
                    width: 180px;
                    background-color: $primary-color;
                    font-size: 16px;
                    margin-right: 0;
                    text-align: center;
                    display: inline-block;
                    line-height: 50px;
                    cursor: pointer;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;

                    &:hover {
                        background: rgba(darken($primary-color, 5), 1);
                    }
                }
            }

            #add-box {
                position: relative;

                & * {
                    margin-bottom: 5px;
                }

                label {
                    font-size: 16px;
                }

                input {
                    border-bottom: 2px solid $primary-color;
                    width: 40%;
                    margin-right: 5px;
                    outline: none;

                    &::placeholder {
                        color: rgba(lighten($primary-color, 1), 0.8);
                    }
                }

                .select {
                    width: 120px;
                    height: 28px;
                    font-size: 100%;
                    font-weight: bold;
                    cursor: pointer;
                    border-radius: 0;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    -ms-border-radius: 0;
                    -o-border-radius: 0;
                    background-color: $primary-color;
                    color: $white;
                    border: none;
                    border-bottom: 2px soild rgba(darken($primary-color, 10), 1);
                    padding: 1px 2px 1px 4px;
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    transition: color 0.3s ease, background-color 0.3s ease,
                        border-bottom-color 0.3s ease;
                    -webkit-transition: color 0.3s ease, background-color 0.3s ease,
                        border-bottom-color 0.3s ease;
                    -moz-transition: color 0.3s ease, background-color 0.3s ease,
                        border-bottom-color 0.3s ease;
                    -ms-transition: color 0.3s ease, background-color 0.3s ease,
                        border-bottom-color 0.3s ease;
                    -o-transition: color 0.3s ease, background-color 0.3s ease,
                        border-bottom-color 0.3s ease;
                    outline: none;
                }
            }
        }
    }
}